<!DOCTYPE html>
<html>

<head>
    <title>moviedetails</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
    

<body>
    <h1 class="text-center">Movies Listing</h1>
    <table class="table">
        <thead>
            <th class="text-center">Title</th>
            <th class="text-center">Director</th>
            <th class="text-center">Star</th>
            <th class="text-center">Rating</th>
        </thead>
        <tbody>
            <!-- {% for movie in movies %} -->
            <tr class="text-center">
                <td class=" text-center active">{{ movie.title | upcase }}</td>
                <td class=" text-center success">{{ movie.director | upcase}}</td>
                <td class=" text-center info">{{ movie.star | upcase}}</td>
                <td class=" text-center info">{{ movie.rating | upcase}}</td>
            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
</body>

</html>
