<!DOCTYPE html>
<html>
<head>
	<title>new</title>
</head>
<body>
	
	<form action="/movies" method="post">
	<label for="">TITLE</label>
	<input type="text" name="title" placeholder="enter title" required validate>
	<label for="">DIRECTOR</label>
	<input type="text" name="director" placeholder="enter director" required validate>
	<label for="">RATING</label>
	<input type="number" name="rating" placeholder="enter rating" required validate>
	<button type="submit">ADd MOvIe</button>
	</form>
</body>
</html>