<!DOCTYPE html>
<html>
<head>
    <title>Edit {{movie.title}}</title>
</head>
<body>
    {% include 'navbar' %}
    <form action="/movies/{{movie._id}}/edit" method="POST">
        <label for="">TITLE</label>
        <input type="text" name="title" value="{{movie.title}}" placeholder="title">
        <label for="">DIRECTOR</label>
        <input type="text" name="year of release" value="{{movie.director}}" placeholder="director">
        <label for="">RATING</label>
        <input type="number" name="rating" value="{{movie.rating}}" placeholder="rating">
        <button type="submit">Edit Movie</button>
    </form>
</body>
</html>
